<div class="header">
    <div class="header__logo">
        <a class="header__logolink" href="/">
            <img class="header__logoimage" src="./images/head_l.png">
        </a>
    </div>
    <div class="header__searchwrapper">
        <form class="header__searchform" action="/" method="get">
            <div class="header__searchbox">
                <input name="search" class="header__searchinput" autocapitalize="none" autocomplete="off" autocorrect="off" tabindex="0" type="text" spellcheck="false" placeholder="Search" value=[%= search ?? '' %]>
            </div>
            <input class="header__searchbutton" type="submit" value=&#x1F50E;&#xFE0E;>
        </form>
    </div>
    <div class="header__sidebarbuttonwrapper">
        <div class="header__sidebarbutton" onclick="toggleSidebar()">
            <span class="header__sidebarbuttontext">
                ☰
            </span>
        </div>
    </div>
</div>