<div class="alert-wrapper"></div>
<div class="modal-wrapper">
    <div class="modal-content">
        <div class="modal-content__title">
            <span class="modal-content__title--text">Alert</span>
        </div>
        <div class="modal-content__text">
            <span class="modal-content__text--text"></span>
        </div>
        <div class="modal-content__buttonwrapper">
            <div class="modal-content__button modal-content__button--cancel">
                <span class="modal-content__button--text">Cancel</span>
            </div>
            <div class="modal-content__button modal-content__button--confirm">
                <span class="modal-content__button--text">Confirm</span>
            </div>
        </div>
    </div>
</div>