<!doctype html>

[%- include('partials/head', {title: 'main'}); -%]

<body spellcheck="false">
  [%- include('partials/header', {search: search}); -%]
  <div class="sidebar">
    <div class="sidebar__filterwrapper">
      [% for (const source of sources) { %]
      <label class="sidebar__filter__list--item" onclick="filterSource()">
        <input type="checkbox" name="filter" value="[%= source %]" [% if (filter && filter.includes(source)) { %] checked [% } %]>
        <span class="sidebar__filter__list--check"></span>
        [%= source %]
      </label>
      [% } %]
    </div>
  </div>
  <div class="contents-container">
    [% if (Object.keys(data).length) { for (var id in data) { %]
    <div class="video-container">
      <a class="video-container__thumbnail" href="[%= encodeURI('/watch?id='+id) %]">
        <video class="video-container__thumbnail--video" muted preload="none" data-path="[%= id %]" onmouseenter="showPreview($(this))" onmouseleave="stopPreview($(this))"></video>
      </a>
      <a class="video-container__title" href="[%= encodeURI('/watch?id='+id) %]">
        [%= data[id].title %]
      </a>
      <div class="video-container__subtitle">
        <div class="video-container__subtitle--source">
          [%= data[id].source %]
        </div>
        <div class="video-container__subtitle--counter">
          [%= data[id].counter %]
        </div>
      </div>
      <div class="video-container__tags">
        tags:
        [% for (var tag of data[id].tags) { %]
        <button class="video-container__tags--tag">
          [%= tag %]
        </button>
        [% } %]
      </div>
    </div>
    [% } } else { %]
      <div class="video-container--empty">
        No results found
      </div>
    [% } %]
  </div>
  [%- include('partials/popups'); -%]
</body>
<script>
</script>

</html>