<!doctype html>

[%- include('partials/head', {title: title}); -%]

<body spellcheck="false">
    [%- include('partials/header'); -%]
    [% if (data) { %]
    <div class="sidebar">
        <div class="sidebar__title">
            [%= title %]
        </div>
        <div class="sidebar__buttonwrapper">
            <button class="sidebar__button sidebar__button--adder" onclick="addCounter(-1)">-</button>
            <span class="sidebar__counter">
                count: [%= data.counter %]
            </span>
            <button class="sidebar__button sidebar__button--adder" onclick="addCounter(1)"">+</button>
            <button class="sidebar__button sidebar__button--deleter" onclick="deleterOnclick()">&times</button>
        </div>
        [% for (let index = 0; index < data.vids.length; index++) { %] 
        <div class="sidebar__selector" [%= `onclick=setSource(${index})` %]>
            [%= data.vids[index] %]
        </div>
        [% } %]
        <div class="sidebar__tagcontainer">
            <div class="sidebar__tagdisplay">
                [% for (const tag of data.tags) { %]
                <button class="sidebar__tagdisplay--button">
                    <span class="sidebar__tagdisplay--tag" contenteditable="true" onblur="updateTags()">
                        [%= tag %]
                    </span>
                    <span class="sidebar__tagdisplay--deleter" onclick="removeTag($(this).parent())">&times</span>
                </button>
                [% } %]
            </div>
            <div class="sidebar__tagadder">
                <button class="sidebar__tagadder--adder" onclick="createTag()">+</button>
            </div>
        </div>
    </div>
    [% } %]
    <div class="video-frame">
        <video class="video-frame__video" src="[%= encodeURI('/video?title='+title+'&index=0') %]" preload="metadata"
            controls></video>
    </div>
    <div class="modal-wrapper">
        <div class="modal-content">
            <div class="modal-content__title">
                <span class="modal-content__title--text">Alert</span>
            </div>
            <div class="modal-content__text">
                <span class="modal-content__text--text"></span>
            </div>
            <div class="modal-content__buttonwrapper">
                <div class="modal-content__button modal-content__button--cancel">
                    <span class="modal-content__button--text">Cancel</span>
                </div>
                <div class="modal-content__button modal-content__button--confirm">
                    <span class="modal-content__button--text">Confirm</span>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
</script>

</html>