<!doctype html>

[%- include('partials/head', {title: title}); -%]

<body spellcheck="false">
    [%- include('partials/header'); -%]
    [% if (data) { %]
    <div class="sidebar">
        <div class="sidebar__title">
            [%= title %]
        </div>
        <div class="sidebar__buttonwrapper">
            <button class="sidebar__button sidebar__button--adder">-</button>
            <span id="count">
                count: [%= data.counter %]
            </span>
            <button class="sidebar__button sidebar__button--adder">+</button>
            <button class="sidebar__button sidebar__button--deleter">&times</button>
        </div>
        [% for (let index = 0; index < data.vids.length; index++) { %] 
        <div class="sidebar__selector" [%= `onclick=setSource('${title}',${index})` %]>
            [%= data.vids[index] %]
        </div>
        [% } %]
        <div class="sidebar__tagcontainer">
            <div class="sidebar__tagdisplay">
                [% for (const tag of data.tags) { %]
                <button class="sidebar__tagdisplay--button">
                    <span class="sidebar__tagdisplay--tag" contenteditable="true">
                        [%= tag %]
                    </span>
                    <span class="sidebar__tagdisplay--deleter">&times</span>
                </button>
                [% } %]
            </div>
            <div class="sidebar__tagadder">
                <button class="sidebar__tagadder--adder">+</button>
            </div>
        </div>
    </div>
    [% } %]
    <div class="video-frame">
        <video class="video-frame__video" src="[%= encodeURI('/video?title='+title+'&index=0') %]" preload="metadata"
            controls></video>
    </div>
</body>
<script>
</script>

</html>