* {
  color: #fff;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

html, body {
  margin: 0;
  font-size: 16px;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #121212;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}