.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 1em;
}

.label {
    cursor: pointer;
}

.checkbox {
    margin: 0 1em 0 0;
}