.container {
    overflow: hidden;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.container_top {
    display: flex;
    flex-direction: column;
}

.container_top video {
    height: auto;
    width: 100%;
    margin: auto;
    background: #222222;
    border-radius: 5px;
    cursor: pointer;
}

.title {
    font-size: 1.5em;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.subtitle span {
    color: #aaaaaa;
}

.source, .counter {
    overflow: hidden;
    text-overflow: ellipsis;
}

.source {
    flex-grow: 3;
}

.container_bottom {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}

.tag {
    display: inline-block;
}